# Backend
backend/target/
backend/.env
backend/.mvn/
backend/mvnw
backend/mvnw.cmd

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.vscode/

# IDEs
.idea/
*.iml
*.iws
.vscode/
.DS_Store

# Logs
*.log

# OS
Thumbs.db
